.card{
    height:200px;
    width:200px;
    display:inline-block;
    border:2px solid black;
    margin:10px;
    border-radius:10px;
    box-shadow:4px 4px 7px black;
}

.disc{
    padding:2px 0 0 2px;
}
img {
    width:100%;
    border-radius:10px;
}

.card:hover{
     box-shadow:4px 8px 16px black;
}

