.flex_item1{
    background-color: rgb(116, 5, 116);
}
.flex_item2{
    background-color: indigo;
}
.flex_item3{
    background-color: blue;
}
.flex_item4{
    background-color: green;
}
.flex_item5{
    background-color: yellow;
}
.flex_item6{
    background-color: orange;
}
.flex_item7{
    background-color: red;
}

#container{
    height:300px;
    width:80%;
    margin:10px auto;
    border:2px solid black;
    display:flex;

    /* FLEXBOX DIRECTION  */
    /* left to right */
    /* flex-direction:row; */

    /* content reverse */
    /* flex-direction:row-reverse; */
    /* flex-direction:column; */
    /* flex-direction:column-reverse; */
    /* flex-direction:row;
     */

    /* JUSTIFY CONTENT  */
    /* 1.to show content , left end   */
    /* justify-content:flex-start; */

    /* 2. to show content from right end  */
    /* justify-content:flex-end; */

    /* 3.to show the content in center */
    /* justify-content:center; */

    /* 4.to show the space in middle */
    /* justify-content:space-between; */

    /* 5.to show the space around */
    /* justify-content:space-around; */

    /* 6.to show the space evenly */
    /* justify-content:space-evenly; */



    /* FLEX-WRAP */
      /*1. flex-wrap:nowrap; */
    /* 2.flex-wrap:wrap; */
    /* 3. flex-wrap:wrap-reverse; */


     /* flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap; */


    
    /* flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap-reverse; */

    /* column reverse */
      flex-direction:column-reverse;
    justify-content:flex-start;
    flex-wrap:wrap-reverse;

}



#container div{
    height:100px;
    width:300px;
    text-align:center;
    color:white;
}