h1,h3{
    color:#b92b27;
}

#login{
    background-color:white;
}
#signup{
    background-color:white;
}
.upvote{
    background-color:green;
    color:aliceblue;
}

/*  descendant selector  */
.post a{
    color:purple;
    background-color:yellow;
}

/*  multiple level using descendant selector  */
nav ul li a{
    color:hotpink;
}

/* Adjacent sibling combinator  */

p + h3{
    text-decoration:underline;
}
.upvote + button{
    background-color:cornflowerblue;
    color:darkblue;
}

/* child combinator --> direct descendant --> only one level we go  or select the elemnt  */

div>input{
    background-color:rgb(72, 187, 147);
}

/* Attribute selector */
input[type="text"] {
    color:green;
}
input[type="password"] {
    color:red;
}
input[type] {
    background-color:aliceblue;
}