h1,h3{
    color:#b92b27;
}

#login{
    background-color:white;
}
#signup{
    background-color:white;
}
.upvote{
    background-color:green;
    color:aliceblue;
}

/*  descendant selector ---> is used to select elements that are 
inside another element,no matter how deep they are nested. */
.post a{
    color:purple;
    background-color:yellow;
}

/*  multiple level using descendant selector  */
nav ul li a{
    color:hotpink;
}

/* Adjacent sibling combinator --> is used to select an element that is immediately next
 to (right after) another element,at the same level(same parent) */
p + h3{
    text-decoration:underline;
}
.upvote + button{
    background-color:cornflowerblue;
    color:darkblue;
}

/* child combinator --> direct descendant --> only one level we go  or select the elemnt  */
div>input{
    background-color:rgb(72, 187, 147);
}

/* Attribute selector */
input[type="text"] {
    color:green;
}
input[type="password"] {
    color:red;
}
input[type] {
    background-color:rgb(240, 255, 244);
}


/* Pseudo class */
button:hover{
    background-color:black;
    color:white;
}
button:active{
    background-color:hotpink;
}