/* nav{
    color:black;
    background-color:hotpink;
    border:2px solid rgb(97, 220, 222);
    word-spacing:10px;
   
} */



.container{
    height:400px;
    width:400px;
    border:3px solid rgb(64, 170, 211);
    border-radius:10px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items:center;
    
}
.box{
    height:100px;
    width:100px;
    font-size:50px;
    border:3px solid black;
    background-color: grey;
    text-align:center;
    
}