.face{
    width:500px;
    height:500px;
    background-color:yellow;
    border-radius:50%;
}
.mouth{
    width:250px;
    height:125px;
    background-color:brown;
    border-radius:0px 0px 50px 50px;
    position:absolute;
    top:300px;
    left:125px;
}
.left_eye ,.right_eye{
    width:70px;
    height:70px;
    background-color:black;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    top:100px;
    left:125px;
}
.right_eye{
    left:300px;
}