section{
    margin-top:100px;
}
div{
    height:50px;
    width:200px;
    margin:10px;
    text-align:center;
    background-color: #7aa874;
    border:2px solid black;

}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}

/* Transform */
#one{
    transform:rotate(45deg);
}

#two{
    transform:scale(0.5);
}
#three{
    transform:translate(150px,50px);
}

#four{
    transform:skew(30deg);
}