.box{
    height:100px;
    width:100px;
    background-color:goldenrod;
    border:2px solid black;
    
}
.container{
    height:600px;
    background-color:aquamarine;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.two{
    align-self:first baseline;
}