.block1{
    height:100px;
    width:100px;
    background-color:aquamarine;
    text-align:center;
    margin:auto;
   padding:10px;
   border-radius:5px;
   display:flex;
   justify-content:center;
   justify-self: center;

}